{% load i18n %}

{% if request.user.is_superuser %}
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-legal icon-white"></i>
        {% trans "Admin" %}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a data-toggle="modal" href="#flag-thumbnails-modal">
                <i class="icon-flag"></i>
                {% trans "Flag malfunctioning thumbnails" %}
            </a>
        </li>

        <li>
            <a href="{% url user_ban image.user %}">
                <i class="icon-ban-circle"></i>
                {% trans "Ban user" %}
            </a>
        </li>
     </ul>
 </li> <!-- admin -->
{% endif %}
